<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'client_app/minty.css' %}">
    <link rel="stylesheet" href="{% static 'client_app/mystyles.css' %}">

    {% block title_block %}
    {% endblock %}
  

  </head>
  <body>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'index' %}"><h3 class="brand_link">Learn 2 Code!</h3></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'index' %}">HOME</a>
            </li>
        


            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'client_app:client_code' %}">CODE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'client_app:client_lessons' %}">LESSONS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'client_app:client_logout' %}">LOGOUT</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'client_app:client_registration' %}">SIGNUP</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'client_app:client_login' %}">LOGIN</a>
                </li>        
            {% endif %}


          </ul>
        </div>
      </nav>



      {% block body_block %}
      {% endblock %}


      <footer class="footer mt-5">
        <div class="row">
          <div class="col">
            <p>This website is built with Python and the Django framework.</p>
          </div>
        </div>
      </footer>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    {% block custom_script %}
    {% endblock %}
    
  </body>
</html>