<!doctype html>
<html lang="en">
  <head>

    <!--   Built with love for my little brother Ayden   -->
    <!--   Jordan D. Murphy (2018)   Email: jdmurphy521@yahoo.com   Github: https://github.com/jd-murphy   -->
    <!--   Proudly built with Django. A huge thanks to all the wonderful folks who make Django so amazing!   -->
    <!--   Proudly built with Repl.it. A huge thanks to all the awesome people who work on Repl.it! You guys are so cool.  -->


    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'client_app/minty.css' %}">
    <link rel="stylesheet" href="{% static 'client_app/mystyles.css' %}">
    <link rel="stylesheet" href="{% static 'client_app/custombox.min.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">

    <link rel="stylesheet" href="{% static 'client_app/light-modal.min.css' %}">
    

    {% block title_block %}
    {% endblock %}
  

  </head>
  <body>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'index' %}"><h3 class="brand_link">Learn 2 Code!</h3></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'index' %}">HOME</a>
            </li>
        


            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'client_app:client_code' %}">CODE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'client_app:client_lessons' %}">LESSONS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'client_app:client_logout' %}">LOGOUT</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'client_app:client_registration' %}">SIGNUP</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'client_app:client_login' %}">LOGIN</a>
                </li>        
            {% endif %}


          </ul>
        </div>
      </nav>



      {% block body_block %}
      {% endblock %}












      <div class="light-modal" id="unique-id" role="dialog" aria-labelledby="light-modal-label" aria-hidden="false">
        <div class="light-modal-content animated rubberBand">
            <!-- light modal header -->
            <div class="light-modal-header">
                <a href="#" id="close-modal" class="light-modal-close-icon" aria-label="close">&times;</a>
            </div>
            <!-- light modal body -->
            <div class="light-modal-body">
                <!-- Your content -->
                <h1 class="congrats"> 🎉 Congrats! 🎉 </h1>
                <h3 class="congrats">Great work, coder!</h3>
            </div>
            
            
        </div>
      </div>








      <footer class="footer mt-5">
        <div class="row">
          <div class="col">
            <p>This website was built by Jordan Murphy with Python and the Django framework.</p>
            <p>Jordan Murphy 2018</p>
          </div>
        </div>
      </footer>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{% static 'client_app/custombox.min.js' %}"></script>

    {% block custom_script %}
    {% endblock %}




    
  </body>
</html>