{% extends 'client_app/base.html' %}
{% load static %}
{% block title_block %}
<title>Learn 2 Code! | Code</title>
{% endblock %}

{% block body_block %}
    
        <div class="row main-content">
            <div class="col-6">
                
                {% include lesson %}

                <div class="row mt-3 feedback_buttons">
                    <div class="col-3 offset-md-1">
                        <a class="btn btn-outline-primary" href="#" id="success_button"> I got it to work!</a>
                    </div>
                    <div class="col-3 offset-md-1">
                        <a class="btn btn-outline-danger" href="#" id="help_button"> I need help!</a>
                    </div>
                </div>
                <div class="row mt-3">
                    <div id="success_message" class="hide_me">
                        <h4> 🎉 Way to go! 🎉 </h4>
                        <h5>Go on to the next lesson when you're ready! 😎 </h5>
                    </div>
                    <div id="help_message" class="hide_me">
                        <h4>This one is kinda tricky! 🤔 </h4>
                        <h5>Let's solve this together.</h5>

                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-3 offset-md-1">
                        {% if lesson_number > 1 %}
                            <a class="btn btn-info" href="{% url 'client_app:client_code' %}" id="previous_lesson_btn">< Back&nbsp;&nbsp;</a>
                        {% endif %}
                    </div>
                    <div class="col-3">
                        {% if lesson_number != last_lesson %}
                            <a class="btn btn-info" href="{% url 'client_app:client_code' %}" id="next_lesson_btn">&nbsp;&nbsp;Next ></a>
                        {% else %}
                        <a class="btn btn-info" href="{% url 'client_app:client_lessons' %}">&nbsp;&nbsp;More lessons coming soon!</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col">
                <iframe id="repl" height="600px" width="100%" src="https://repl.it/@jdmurphy/AcrobaticDeficientWebportal?lite=true" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe>
            </div>
        </div>
    
{% endblock %}

{% block custom_script %}
    <script src="{% static 'client_app/js-cookie.js' %}"></script>
    <script src="{% static 'client_app/myjs.js' %}"></script>
    <script src="{% static 'client_app/clipboard.min.js' %}"></script>
{% endblock %}