{% extends 'client_app/base.html' %}
{% load static %}
{% block title_block %}
<title>Learn 2 Code! | Home Page</title>
{% endblock %}

{% block body_block %}
    <div class="jumbotron">
        <div class="jumbo_text">
            <h1>Welcome to Learn 2 Code!</h1>
            <h3>Let's learn Python!</h3>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col">
                <p>Wanna learn how to code? Well, you're in the right place. We are going to teach you how to master coding from step one, all the way to the top!</p>
                <p>We're going to start easy, and build a strong foundation so you can master the art of coding. We are going to learn Python. It's a really fun language to learn and it's super easy to get started.</p>
                <p>So what are you waiting for? Sign up, log in, and get coding! You can be writing your first lines of code in 60 seconds! Let's get started!</p>
                <br>
                <div class="row justify-content-center">
                    <a class="btn btn-success" href="{% url 'client_app:client_registration' %}">Let's CODE!</a>
                </div>
                <br>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5 mt-5">
                <blockquote>
                    This site was built for my little brother Ayden.
                    <br> 
                    You can do anything you want.
                    <br>
                    Be strong and work hard. 
                    <br>
                    There is no limit to what you can do!
                </blockquote>
            </div>
        </div>
    </div>

{% endblock %}