{% extends 'client_app/base.html' %}
{% load static %}
{% block title_block %}
<title>Learn 2 Code! | Login</title>
{% endblock %}

{% block body_block %}
    <div class="jumbotron">
        <div class="jumbo_text">
            <div class="row">
                <div class="col-md-5">
                    <h1>Login</h1>
                    <h3>Log in to start coding!</h3>
                </div>
                <div class="col-md-5">
                    <img src="{% static 'images/python_logo.png' %}" class="img-responsive mt-3" alt="Python Logo">
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        {% if error %}
            <div class="alert alert-dismissible alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Uh oh!</strong> That doesn't seem to be the correct login credentials. Try again!
            </div>
        {% endif %}
        <h1>Login</h1>
        <p>If you are not already signed up, <a href="{% url 'client_app:client_registration' %}">sign up here</a>!</p>
        <form action="{% url 'client_app:client_login' %}" method="POST">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Enter Username...">
            <label for="password">Password:</label>
            <input type="password" name="password">
            <input type="submit" class="btn btn-success" value="Login">
        </form>
    </div>
{% endblock %}