{% extends 'client_app/base.html' %}
{% block title_block %}
<title>Learn 2 Code! | Sign Up</title>
{% endblock %}

{% block body_block %}
    <div class="jumbotron">
        <div class="jumbo_text">
            <h1>Sign Up and Learn 2 Code!</h1>
            <h3>You can be writing code in 60 seconds!</h3>
        </div>
    </div>
    <div class="container">
        {% if registered %}
            <div class="alert alert-dismissible alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Welcome!</strong> You're signed up. <a href="{% url 'client_app:client_login' %}" class="alert-link">Click here to log in to get started coding!</a>
              </div>
        {% else %}
            <h1>Sign up now!</h1>
            <h3>Just fill out this form:</h3>
            <form enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                {{ user_form.as_p }}
                <input type="submit" class="btn btn-success" value="Register">
            </form>
        {% endif %}
    </div>
{% endblock %}