<h1>Lesson 36</h1>
<h2>Add 'em up!</h2>

<p>Okay coder, we've seen how
     to do get <b>input</b> with the <b>input()</b> function, and 
     turn the <b>str</b> <b>data type</b> into the <b>int</b> 
     <b>data tyep</b> using the <b>function</b> <b>int()</b>. We can wrap the <b>input()</b> 
     <b>function</b> in the <b>int()</b> <b>function</b> to make our code more organized.
     Let's use it to take in a few numbers from the user and add them up!
</p>
<div class="mt-3 mb-3 ml-5">
    <code>
        num_1 = int(input("Enter the first number: "))<br>
        num_2 = int(input("Enter the second number: "))<br>
        print(f"{num_1} plus {num_2} is {num_1 + num_2}")
    </code>
</div>
<p>😳 We can even do our math <em>inside</em> the <b>f-string</b>! 😄 How slick is that?! 🤙 </p>

<input type="hidden" id="lesson_number" value="36">
