<h1>Lesson 16</h1>
<h2>Is IS Equals?</h2>
<button class="btn btn-link" data-izimodal-open="#modal-iframe">Watch video lesson</button>

<p>Okay coder, we've seen how
    see if something <b>is</b> something, but we can also 
    check if something equals something. They aren't exactly the same thing... 
    But they are very similar. Let's learn about <b>is</b> and equals. 
    Equals is written in python as <b>==</b>. We use one equals sign <b>=</b> 
    to put information into a variable. We use two equal signs <b>==</b> 
    to check if two things are equal. 
</p>
<div class="mt-3 mb-3 ml-5">
    <code>
        result = 4 is 4<br>
        print(result)<br>
        result = 4 == 4<br>
        print(result)
    </code>
</div>
<p>You can also find out something is not, or is not equal to, another thing.</p> 
<div class="mt-3 mb-3 ml-5">
    <code>
        result = 'cat' is 4<br>
        print(result)<br>
        result = 92.123 == 8<br>
        print(result)<br>
    </code>
</div>
<p>Later on we will see some situations where <b>is</b> and <b>==</b> <em>aren't</em> the same thing...</p>


<div id="modal-iframe" aria-hidden="true" aria-labelledby="modal-iframe" role="dialog" class="iziModal" data-izimodal-group="grupo1" style="background: black; z-index: 999; border-radius: 3px; overflow: hidden; max-width: 600px; display: none; height: 445px;">
    <div class="iziModal-header iziModal-noSubtitle" style="background: rgb(0, 0, 0); padding-right: 70px;">
      <i class="iziModal-header-icon icon-settings_system_daydream"></i>
      <h2 class="iziModal-header-title">Video | Lesson 16</h2>
      <p class="iziModal-header-subtitle"></p>
      <div class="iziModal-header-buttons">
        <a href="javascript:void(0)" class="iziModal-button iziModal-button-close" data-izimodal-close=""></a>
        <!-- <a href="javascript:void(0)" class="iziModal-button iziModal-button-fullscreen" data-izimodal-fullscreen=""></a> -->
      </div>
    </div>
    <div class="iziModal-wrap" style="height: auto;">
      <div class="iziModal-content" style="padding: 0px;">
        <iframe class="iziModal-iframe" style="height: 400px;" src="https://player.vimeo.com/video/300914473" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
  </div>
  


<input type="hidden" id="lesson_number" value="16">