<h1>Lesson 58</h1>
<h2>Evens only, please!</h2>

<p>Okay coder, let's use what we learned to make sure only even numbers are in our list. 
    If we find an odd number, let's add <b>1</b> to it and make it even! 
    We'll use modulo <b>%</b> to check every number in our <b>list</b>.
    We know that every even number divided by 2 is 0. We'll have python check <b>if</b> each number <b>% 2</b> is <em>not equal</em> to <b>0</b>. 
    We use <b>!=</b> to check if something is not equal to something else.
    If the answer is <b>True</b> we know the number is odd so we add one to it to make it even, 
    if the answer is <b>False</b> the number must already be even. 
</p>
<div class="mt-3 mb-3 ml-5">
    <code class="hide-code">
        nums = [3, 5, 2, 6, 9, 19, 34, 23, 6, 13, 930, 234, 123, 643, 5, 353, 7564, 99, 102]<br>
        for i in range(len(nums)):<br>
            &nbsp;&nbsp;if nums[i] % 2 != 0: <br>
            &nbsp;&nbsp;&nbsp;&nbsp;nums[i] += 1 <br>
        print(nums)
    </code>
</div>
<p>Take a look at the numbers in the list now. They are all even! 
    This lesson makes a good example of how we need to think sometimes when we are coding. 
    As programmers we need to challenge our ways of thinking and use logic to translate 
    our ideas into code that python can understand.
</p>

<input type="hidden" id="lesson_number" value="58">
