<h1>Lesson 61</h1>
<h2>Santa's list code review</h2>

<p>Okay coder, That was a lot, let's review the code for Santa's list from the last lesson! 
    First, we <b>declare</b> and <b>initialize</b> two empty <b>lists</b>. One for nice children, and one for naughty children.
    Then we start getting <b>input()</b> from the user. We ask for a child's name and which list they should go on. 
    We start a <b>while loop</b> to continue asking for names until the user is finished. The condition controlling the <b>loop</b> 
    is that the user must enter some value for the child's name and the destination <b>list</b>. 
    If the variables are empty, the <b>loop</b> will exit.
    We convert the string in the variable <b>destination</b> to lowercase 
    and compare it to the string <b>'nice'</b>. If the comparison is <b>True</b>, we will <b>.append()</b> the 
    child to the <b>nice_list</b>. If the child is not destined for <b>nice_list</b>, 
    we check if they are headed to the <b>naughty_list</b> in the <b>elif</b> clause. We convert the string in the variable <b>destination</b> to lowercase 
    and compare it to the string <b>'naughty'</b>. If the comparison is <b>True</b>, we will <b>.append()</b> the 
    child to the <b>naughty_list</b>. If the user typed a string that doesn't match <b>'naughty'</b> or <b>'nice'</b>, 
    we ask them to enter the child's information again. We repeat the process until the user is finished entering names.
    When the user is done they can press <b>enter</b> twice without entering a child's info, and the program will exit the <b>loop</b>
     and print out the resulting <b>lists</b>.

</p>
<button class="btn btn-outline-info" type="button" data-toggle="collapse" data-target="#code-toggle">
    Show / Hide code
</button>
<div class="mt-3 mb-3 ml-5 collapse" id="code-toggle">
    <div class="card card-body">
        <code>
            nice_list = []<br>
            naughty_list = []<br>
            child = input("Add a child: (press enter twice to quit) ")<br>
            destination = input("Which list? ")<br>
            while child and destination:<br>
                &nbsp;&nbsp;if destination.lower() == 'nice': <br>
                &nbsp;&nbsp;&nbsp;&nbsp;nice_list.append(child) <br>
                &nbsp;&nbsp;elif destination.lower() == 'naughty': <br>
                &nbsp;&nbsp;&nbsp;&nbsp;naughty_list.append(child) <br>
                &nbsp;&nbsp;else: <br>
                &nbsp;&nbsp;&nbsp;&nbsp;print("Try adding the child again.") <br>
                &nbsp;&nbsp;child = input("Add a child: (press enter twice to quit) ") <br>
                &nbsp;&nbsp;destination = input("Which list? ") <br>
            print("nice_list")<br>
            print(nice_list)<br>
            print("naughty_list")<br>
            print(naughty_list)
        </code>
    </div>
</div>

<input type="hidden" id="lesson_number" value="61">
