<h1>Lesson 11</h1>
<h2>answer = 2 + 2</h2>

<p>Okay coder, we've seen how
     to store string messages in variables, but we can 
     store other kinds of data in variables as well. We 
     are going to learn about more types of data soon, 
     but we already know about numbers. Let's store some numbers in variables!
     If we want to do math in python we can store the result in a variable.
     Try this
</p>
<div class="mt-3 mb-3 ml-5">
    <code class="hide-code">
        answer = 0<br>
        answer = answer + 2<br>
        print(answer)<br>
        answer = answer + 2<br>
        print(answer)<br>
        answer = 0<br>
        print(answer)
    </code>
</div>
<p>We will learn another way to change a variable in a bit. 
    But for now, we know we can change the value of the 
    variable, but we can also us the variable itself to change 
    its own value! Just like this <b>answer = answer * answer</b>. 
    Try setting <b>answer</b> to a number that's not zero, and then use <b>answer</b> 
    and multiplication <b>*</b> to change <b>answer</b>!</p>

<input type="hidden" id="lesson_number" value="11">