<h1>Lesson 31</h1>
<h2>In and out!</h2>

<p>Okay coder, we've seen quite a bit now, so it's time we talk 
    about something fundamental to computers and programming. 
    Computers work with information, which we often call <b>data</b>. 
    And that's great. But it isn't very useful if we can't get the data out. 
    I know, I know... we've already seen how computers can <b>output</b> data using <b>print()</b>, 
    and there are many other ways for computers to output information. But what we haven't seen yet is the other side... 
    How do we put data <em>in?</em> Giving data <em>to</em> the computer is called <b>input</b>, and 
    most computer programs take some <b>input</b> and then produce a certain <b>output</b> based on the data it gets. 
    Let's see how to give a python program <b>input()</b>! Type the code below into the <b>editor</b>, 
    click run, and then you will see python waiting for you to type input into the <b>terminal</b>! 
    Type your name in the <b>terminal</b>, press <b>enter</b>, and watch what python does!
</p>
<div class="mt-3 mb-3 ml-5">
    <code id="copy-code">
        name = input("Hello, human. What is your name? ")<br>
        print(f"Pleased to meet you {name}! My name is computer.")
    </code>
</div>
<p>WOW! 😍 All of a sudden we can start writing complete programs 
    that actually do something valuable! We can get user <b>input</b> 
    with the function <b>input()</b>, and <b>output</b> a response to the user with <b>print()</b>! 
Try running the code a few more times and give different <b>input</b> to your program.</p>

<input type="hidden" id="lesson_number" value="31">