<h1>Lesson 48</h1>
<h2>Lists? Lists!</h2>

<p>Okay coder, we've got to learn about <b>lists</b>. In python, a <b>list</b> lets 
    us store more than one piece of information in a variable.
    We'll even be using them with <b>for loops</b>! A <b>list</b> looks like this
</p>
<div class="mt-3 mb-3 ml-5">
    <code class="hide-code">
        names = ['Thomas', 'Rebekkah', 'Rachel', 'Aaron', 'Andre']<br>
        print(names)
    </code>
</div>
<p>
    We can put pretty much anything we want inside a list. <b>str</b>, <b>int</b>, <b>float</b>, and all kinds of other things.
    <b>True</b> and <b>False</b> are examples of a built in <b>data type</b> in python 
    called <b>boolean</b> and we can store <b>boolean</b> data in <b>lists</b> too! 
</p> 
<div class="mt-3 mb-3 ml-5">
    <code class="hide-code">
        info = ['Jessie', 'Jiminez', 'student', 22, True, False]<br>
        print(info)
    </code>
</div>
<p><b>Lists</b> are dynamic and useful and can help us create really powerful programs. 
    In the next lesson we will start working more with <b>lists</b>.</p>

<input type="hidden" id="lesson_number" value="48">
