<h1>Lesson 46</h1>
<h2>Backwards too?</h2>

<p>Okay coder, let's look at some other ways to work with <b>for loops</b> and <b>range()</b>. 
    We know that if we give <b>range()</b> three <b>arguments</b> it gives us a sequence from the first 
    number up to (but not including) the second number <em>in steps the size of the third number!</em>
    We can give a negative number to walk through the <b>range()</b> backwards. 
    We need to make sure the first number is larger than the second number and the third number must be negative.
</p>
<div class="mt-3 mb-4 ml-5">
    <code>
        # count backwards from 100 by 5s<br>
        for i in range(100, 50, -5):<br>
            &nbsp;&nbsp;print(f"Once for i when i is {i}")</span>
    </code>
</div>

<div class="mt-3 mb-4 ml-5">
    <code>
        # count backwards from 21 by 3s<br>
        for i in range(21, 0, -3):<br>
            &nbsp;&nbsp;print(f"Once for i when i is {i}")</span>
    </code>
</div>

<div class="mt-3 mb-4 ml-5">
    <code>
        # count backwards from 1000 by 100s<br>
        for i in range(1000, 0, -100):<br>
            &nbsp;&nbsp;print(f"Once for i when i is {i}")</span>
    </code>
</div>

<input type="hidden" id="lesson_number" value="46">
