<h1>Lesson 10</h1>
<h2>name = "Python Master"</h2>

<p>Okay coder, we've seen how to put things in variables.
    But it isn't very useful to put something in a varibale and 
    then not do anything to it! Let's learn how to change a variable!
    You can change a variable the same way you set a variable. It's that simple. 
    We might set <b>name = "Python Beginner"</b> but soon we can change it to 
    <b>name = "Python Student"</b> and soon enough we'll have to change it to 
    <b>name = "Python Master"</b>! Make sure each assignment is on its own line. Try this out!
</p>
<div class="mt-3 mb-3 ml-5">
    <code id="copy-code">
        name = "Python Beginner"<br>
        print(name)<br>
        name = "Python Student"<br>
        print(name)<br>
        name = "Python Master"<br>
        print(name)
    </code>
</div>
<p>It is incredibly powerful to work with variables. We are going to be learning more ways to 
    work with variables soon. It's going to get <em>really</em> fun!
</p>

<input type="hidden" id="lesson_number" value="10">