<h1>Lesson 5</h1>
<h2>Take some away!</h2>

<p>Okay coder, we can't just keep adding forever... 
    What if we need to subtract some numbers?
Let's use Python to subtract one number from another.
Try typing </p>
<div class="mt-3 mb-3 ml-5">
    <code id="copy-code">print(17-3)</code>
</div>
<p>Now run your code!</p>
<p>Look in the console and you should see</p> 
<div class="mt-3 mb-3 ml-5">
    <code id="copy-code">14</code>
</div>
<p>Try with some other numbers like <b>49 minus 5</b> and then <b>67 minus 304</b>. 
You'll notice you can get a negative answer. Awesome!</p>

<input type="hidden" id="lesson_number" value="5">