<h1>Lesson 37</h1>
<h2>Math, Math, Math</h2>

<p>Okay coder, we've seen how
     to do some math with our user's <b>input</b> but we can do more than just 
     add two numbers up. Let's show the user all basic math operations between 
     the two numbers they give us. Same basic logic as in the last lesson, we 
     will just make our <b>output</b> more comprehensive.
</p>
<div class="mt-3 mb-3 ml-5">
    <code id="copy-code">
        num_1 = int(input("Enter the first number: "))<br>
        num_2 = int(input("Enter the second number: "))<br>
        print(f"{num_1} plus {num_2} is {num_1 + num_2}")<br>
        print(f"{num_1} minus {num_2} is {num_1 - num_2}")<br>
        print(f"{num_1} multiplied by {num_2} is {num_1 * num_2}")<br>
        if num_2 == 0:<br>
            &nbsp;&nbsp;print("Division by zero is not allowed.") <br>
        else:<br>
            &nbsp;&nbsp;print(f"{num_1} divided by {num_2} is {num_1 / num_2}")</span>
    </code>
</div>
<p>And there you have it! We can do quite a bit with some simple <b>input</b> 
    from our user. Try running the code a bunch of times with different numbers 
    until you completely understand the code. Make sure to try dividing by zero!</p>

<input type="hidden" id="lesson_number" value="37">
