<h1>Lesson 50</h1>
<h2>Sum up that list!</h2>

<p>Okay coder, we've seen some lists, now let's do some work with them! 
    What about writing an online shopping application. We need a shopping cart for our customers to fill up with their purchases.
    How can we calculate the total when they want to check out?
</p>
<div class="mt-3 mb-3 ml-5">
    <code id="copy-code">
        total = 0.0<br>
        prices = [26.99, 13.00, 9.99, 9.99, 5.00, 27.50]<br>
        for price in prices:<br>
            &nbsp;&nbsp;total += price <br>
        print(f"Your total is ${total}")
    </code>
</div>


<input type="hidden" id="lesson_number" value="50">
