<h1>Lesson 63</h1>
<h2>Let's kick it up a notch!</h2>

<p>AWESOME JOB, CODER!!! You did great on that Challenge. Very impressive! 😎 <br>
    Let's keep the momentum up. We're going to learn about <b>functions</b>. 
    We've already used some of python's built in <b>functions</b> but now we're going to learn how to write our own 
    <b>functions</b>. Basically, a <b>function</b> is some code we package together and give a name. 
    When we want to use the code, we <b>call the function</b>, using the name we gave it.
</p>
<div class="mt-3 mb-3 ml-5">
    <code>
        def my_first_function():<br>
        &nbsp;&nbsp;print("Hello, from my_first_function()!")<br>
        <br>
        my_first_function()
    </code>
</div>
<p>
    First, we <b>define</b> 
    the <b>function</b> using the <b>keyword</b> <b>def</b>. We put parenthesis <b>()</b> and a 
    colon <b>:</b> at the end of the name. We use <b>indentation</b> (like 
    <b>if</b> statements or <b>loops</b>) to format the code we need the <b>function</b> to run. 
    We <b>call the function</b> by the name we gave it when we need to use it. When you <b>call the function</b> 
    put parenthesis <b>()</b> after the name!
</p>

<input type="hidden" id="lesson_number" value="63">
