<h1>Lesson 13</h1>
<h2>four = 14 + 93 ?!?!?!</h2>

<p>Okay coder, we've got to try 
    something a little crazy here to prove a point. 
    Let's say we want to name our variable <b>four</b>.
    Technically, it is totally <em>legal</em> in python to 
    name a variable <b>four</b>. It might even <em>seem</em> like a good 
    idea if, for example, we need to save the answer to the question <b>2 + 2</b>. Like this
</p>
<div class="mt-3 mb-3 ml-5">
    <code class="hide-code">
        four = 2 + 2<br>
        print(four)
    </code>
</div>
<p>Seems good right? And even if we do this</p> 
<div class="mt-3 mb-3 ml-5">
    <code class="hide-code">
        four = 16 / 4<br>
        print(four)
    </code>
</div>
<p>But be careful, because this is just as <em>legal</em> but can get <em>very confusing very quickly</em>.</p>
<div class="mt-3 mb-3 ml-5">
        <code class="hide-code">
            four = 983 / 23.4<br>
            print(four)
        </code>
    </div>
<p>😬 YIKES! Now the name of our variable is not accurately 
    describing the information it holds. This is something 
    a good coder avoids at all costs! Better to name the variable <b>answer</b> or <b>result</b>.</p>

<input type="hidden" id="lesson_number" value="13">