<h1>Lesson 66</h1>
<h2>Ughh, taxes...</h2>

<p>Okay coder, we've talked about writing code for an online shopping application and cash register software. 
    Until now, we've avoided a harsh reality... Most transactions are taxed by the government. 
    Taxes are usually a percentage added on at the end of a transaction. Let's write a function to make our 
    shopping application more realistic by calculating tax for the purchase. Remember we need to convert our <b>input</b> 
    to a <b>float</b> when we work with numbers with decimals, like money!
</p>
<div class="mt-3 mb-3 ml-5">
    <code>
        def add_tax(total):<br>
        &nbsp;&nbsp;tax_rate = 8.25<br>
        &nbsp;&nbsp;tax = total * (tax_rate/100)<br>
        &nbsp;&nbsp;return total + tax<br>
        <br>
        purchase_total = float(input("Enter the merchandise total: "))<br>
        final_total = add_tax(purchase_total)<br>
        print(f"Your total including tax is ${final_total}")<br>

    </code>
</div>
<p>
    Awesome! 😎 Our application is becoming more realistic. <b>Functions</b> make our code much more powerful!
    Let's walk through the <b>add_tax()</b> <b>function</b> in the next lesson.
</p>

<input type="hidden" id="lesson_number" value="66">
