<h1>Lesson 15</h1>
<h2>Compare this with that</h2>

<p>Okay coder, we've seen some awesome stuff but we need 
    some more tools before we can write useful programs.
    Sometimes you need to compare things and make decisions. Lets learn how to compare things.
    A comparison can be <b>True</b> or <b>False</b>. In python, <b>True</b> and <b>False</b> are keywords.
    They mean what you think they mean. 😉
    When we compare things, we can ask if something is equal to, not equal to, greater than, or less than the other thing. 
    It's just like a teacher might ask you in school. Is 2 greater than 1? Well yes it is. That's <b>True</b>! 
    Is 4 less than 2? Nope. So that's <b>False</b>! In python we will use sybmols or keywords to compare stuff. Let's start easy. 
</p>
<div class="mt-3 mb-3 ml-5">
    <code class="hide-code">
        result = 2 is 2<br>
        print(result)<br>
        result = 3 is 2<br>
        print(result)
    </code>
</div>
<p>The python keyword <b>is</b> can be used to see if something, well, <em>is</em> something.</p> 
<div class="mt-3 mb-3 ml-5">
    <code class="hide-code">
        result = True is True<br>
        print(result)<br>
        result = False is False<br>
        print(result)
    </code>
</div>
<p><b>is</b> is just one way to compare stuff. Let's check out other ways!</p>

<input type="hidden" id="lesson_number" value="15">