<h1>Lesson 40</h1>
<h2>While True</h2>

<p>Okay coder, WOW, those last two lessons were quite a bit of information. We are learning so much!
    <b>Loops</b> are so powerful, and we will learn more about them in the next few lessons. But we need to 
    learn about a potential problem we might run into with some <b>loops</b>.
    The problem is an <b>infinite loop</b>, a <b>loop</b> that never stops. This can be troublesome 
    because it can crash your program and cause problems for your user. We try to avoid <b>infinite loops</b>. 
    But what fun would it be if we said <em>not</em> to do something, <em>and didn't do it!</em> 😝 
    Let's make an <b>infinite loop</b> and see why it's a problem!
</p>
<div class="mt-3 mb-3 ml-5">
    <code>
        while True:<br>
            &nbsp;&nbsp; print('Ooops!')</span>
    </code>
</div>
<p>This will probably cause your terminal or browser to crash. 
    Basically your program (and this whole website!) might stop working. 
    You can try going to another page on this site and then coming back 
    to this lesson, but if that doesn't work you might have to close and restart your browser.
</p>

    
    <div class="alert alert-danger">
        <b>You may need to close and restart your broswer after running this code!</b>
    </div>

<p>
    This is why we avoid <b>infinite loops</b> in our code. We always need a way out of our <b>loops</b>!
</p>

<input type="hidden" id="lesson_number" value="40">
