<h1>Lesson 9</h1>
<h2>m = "Variables rock!"</h2>

<p>Okay coder, we've seen our
    first variable, but that is just the beginnning. 
    Variables are so important to programming. Variables 
    give you the power to move information around and do
    anything you want to that information. You can save it, 
    you can change it, and you can <b>print()</b> it out when you need to!
    Python uses variables to store information. Try this 
</p>
<div class="mt-3 mb-3 ml-5">
    <code class="hide-code">
        some_variable = "Data goes in variables."<br>
        print(some_variable)
    </code>
</div>
<p>Hopefully you're starting to see how awesome variables are!</p> 
<p>This is just the beginning. We can store any string in a variable. 
    Try putting your name in <b>some_variable</b>. You can have more 
    than one variable at the same time, just make sure you declare them 
    each on a separate line. On the line after <b>some_variable</b> try 
    making a variable called <b>another_variable</b> and store a string message in it. 
    Be sure to <b>print(some_variable)</b> and on the next line <b>print(another_variable)</b>
    to see your output!
<input type="hidden" id="lesson_number" value="9">