<h1>Lesson 55</h1>
<h2>Increase elements in a list</h2>

<p>Okay coder, let's use what we learned to <b>increment</b> each <b>element</b> in a <b>list</b> by 1.
</p>
<div class="mt-3 mb-3 ml-5">
    <code>
        nums = [1, 2, 3, 4, 5, 6, 7]<br>
        for n in range(len(nums)):<br>
            &nbsp;&nbsp;nums[n] += 1 <br>
        print(nums)
    </code>
</div>
<p>We are using the same process as in the last lesson. 
    We find the length of the <b>list</b> with <b>len()</b>. 
    The length is 7 so we use 7 to create a <b>range()</b> from 0 to 6.
    Then we <b>loop</b> through the sequence of numbers that <b>range()</b> gives us: 0, 1, 2, 3, 4, 5, 6.
    Each <b>iteration</b> through the <b>loop</b>, <b>n</b> is going to be the next number from the <b>range()</b>.
    We use <b>n</b> as the <b>index</b> to access each <b>element</b> in the <b>list nums</b>. 
    Because we used the length of <b>nums</b> and <b>range()</b> to control our <b>loop</b>, 
    we don't need to worry about index errors. They both start at <b>index</b> 0. 
    For each item in the <b>list</b> we <b>increment</b> it by 1.
</p>

<input type="hidden" id="lesson_number" value="55">
