<h1>Lesson 26</h1>
<h2>This or that?</h2>

<p>Okay coder, we've seen how
    to check if both conditions are <b>True</b> in the <b>if</b>.
    But what if we only care if one of the conditions is <b>True</b>?
    Well, we can just use <b>or</b>.
    Check it out with another video game example! 
</p>
<div class="mt-3 mb-3 ml-5">
    <code class="hide-code">
        lives_left = 0<br>
        bonus_life_available = True<br>
        if lives_left > 0 or bonus_life_available:<br>
            &nbsp;&nbsp;print("You can keep playing!") <br>
        else:<br>
            &nbsp;&nbsp;print("Game over!") <br>
    </code>
</div>
<p>By combining the <b>or</b> with the <b>if</b> statement 
    you can make sure the code in the <b>if</b> statement 
    executes <b>if</b> <em>only one</em> (or both!) of the conditions is <b>True</b>. 
    Try this: Experiement with a differnet number for <b>lives_left</b> 
    and set <b>bonus_life_available</b> to <b>False</b>.</p>

<input type="hidden" id="lesson_number" value="26">