<h1>Lesson 30</h1>
<h2>Another format!</h2>

<p>Okay coder, we've seen how
     to <b>.format()</b> a string and pass in variables. 
     But in the newest version of python that we are using (Python 3) there is an even easier way!
     Let's use an <b>f-string</b> to put our data into a string!
     <b>f-string</b>s use a different syntax, but I'm confident you'll get comfortable with it quickly!
     Normally we wrap our strings in single or double quotes like this 👉 <b>'Hey!'</b> or this 💁‍ <b>"Howdy!"</b> and either way is fine. 
     With <b>f-string</b>s we are going to prefix our string with the letter <b>f</b> like this: ➡️ <b>f"Greetings!"</b>
     Then, to put data in our <b>f-string</b>, we use curly braces <b>{}</b> with the variable inside as we have before. <b>f"Hey there {name}!"</b>
</p>
<div class="mt-3 mb-3 ml-5">
    <code>
        name = "Jeffrey"<br>
        balance = 237.94<br>
        print(f"Welcome, {name}. Your balance is ${balance}")<br>        
    </code>
</div>
<p>There are lots of ways to format strings in python, 
    and you can use whichever one you want. I prefer <b>f-strings</b> with Python 3, 
    so we will use them a lot in these lessons, but there are other ways and we will use them sometimes so we don't forget them. 
    With earlier versions of Python you might be required to use other methods to format, like the ones shown in previous lessons.</p>

<input type="hidden" id="lesson_number" value="30">