<h1>Lesson 2</h1>
<h2>Welcome to Python!</h2>

<p>Okay coder, Welcome to your second coding lesson!</p>
<p>Python is a very powerful programming language. But it's easy to learn!
In the editor you can type your Python code. The console will <b>print()</b> out the results.
The parentheses <b>( )</b> and quotes <b>" "</b> are very important to Python.
Go ahead and type whatever you want in between the parentheses (and inside the quotes!) like this </p>
<div class="mt-3 mb-3 ml-5">
    <code class="hide-code">print("We can print anything! Python rocks!")</code>
</div>
<p>Don't press the <b>Enter</b> key when you're inside the <b>print</b> statement, 
    Python needs everything inside the <b>print</b> statement
    to be on the same line. Click the green button above the editor and run your code when you're ready!</p>
<p>You should see your results printed out in the console!</p>

<input type="hidden" id="lesson_number" value="2">