<h1>Lesson 43</h1>
<h2>While n is greater than...</h2>

<p>Okay coder, let's use an <b>int</b> variable to control <b>interations</b> through 
    a <b>loop</b> another way.
    Let's set a variable <b>n</b> and set the <b>condition</b> for our <b>loop</b> to be that <b>n is greater than 0</b>.
    On each <b>iteration</b> through the loop, let's <b>decrement</b> <b>n</b> by 5.
    In python code that looks like this
</p>
<div class="mt-3 mb-3 ml-5">
    <code id="copy-code">
        n = 100<br>
        while n > 0:<br>
            &nbsp;&nbsp;print(f"n is {n}") <br>
            &nbsp;&nbsp;n -= 5 <br>
        print(f"The loop is finished. n is {n}")<br>
    </code>
</div>
<p> Notice that if we never <b>decrement</b> <b>n</b> we would have an <b>infinite loop</b>! 
</p>

<input type="hidden" id="lesson_number" value="43">
