<h1>Lesson 44</h1>
<h2>A different kind of loop</h2>

<p>Okay coder, let's learn a new kind of <b>loop</b>. We are going to work with <b>for loops</b> now. 
    In order to best understand a <b>for loop</b>, we need to introduce another built in python <b>function</b>. Say hello to <b>range()</b>!
    We often will see <b>range()</b> used together with <b>for loops</b> in python. A <b>range()</b> let's you create a sequence of numbers very easily.
    For example, you can <b>print()</b> a sequence of numbers very easily with a <b>range()</b> and a <b>for loop</b>, like this
</p>
<div class="mt-3 mb-3 ml-5">
    <code id="copy-code">
        for i in range(100):<br>
            &nbsp;&nbsp;print(i)</span>
    </code>
</div>
<p>
    You'll notice the <b>range()</b> <b>function</b> goes from 0 up to one less 
    than the number you pass in as an <b>argument</b>. In the above example our 
    <b>range()</b> went from 0 to 99 because we passed in 100. A lot of things in 
    python start at 0 instead of 1. This might seem strange but I promise you'll 
    get used to it. If you don't want a <b>range()</b> to start at 0 you can give 
    it two <b>arguments</b>, the first is where it starts and the second is the 
    number it goes up to (this number is not included in the <b>range()</b>).
</p> 
<div class="mt-3 mb-3 ml-5">
    <code id="copy-code">
        for i in range(15,31):<br>
            &nbsp;&nbsp;print(i)</span>
    </code>
</div>

<input type="hidden" id="lesson_number" value="44">
