<h1>Lesson 39</h1>
<h2>A second look</h2>

<p>Okay coder, let's look at the code from the last lesson. That was a lot of new stuff.
</p>
<div class="mt-3 mb-3 ml-5">
    <code>
        <span class="card-1 highlight-code">total = 0.0<br></span>
        <span class="card-2">price = input("Enter the price of the item: ")<br></span>
        <span class="card-3">while price:<br></span>
        <span class="card-4">&nbsp;&nbsp;total += float(price) <br></span>
        <span class="card-5">&nbsp;&nbsp;price = input("Enter the price of the next item: ") <br></span>
        <br>
        <span class="card-6">print(f"Your total is ${total}")</span>
    </code>
</div>



<div id="carouselIndicators" class="carousel slide" data-ride="carousel" data-interval="false">
        <div class="carousel-inner">
          <div class="carousel-item active card bg-info highlight-code" id="card-1">
            <!-- first slide -->
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">1 / 6</h5>
                        <p class="card-text">
                            The first line <b>declares</b> and <b>initializes</b> a variable called <b>total</b> to keep track of the total price. 
                        </p>
                    </div>
                </div>
            
          </div>
          <div class="carousel-item card bg-info highlight-code" id="card-2">
            <!-- second slide -->
            <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">2 / 6</h5>
                        <p class="card-text">
                            The next line starts getting user <b>input</b>, which we're familiar with. We store the <b>input</b> into the variable <b>price</b>.
                        </p>
                    </div>
                </div>
          </div>
          <div class="carousel-item card bg-info highlight-code" id="card-3">
            <!-- third slide -->
            <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">3 / 6</h5>
                        <p class="card-text">
                            On the next line we start our <b>while loop</b>. <b>Loops</b> repeat code. 
                            The <b>while loop</b> runs the code inside, <em><b>while</b></em> the <b>condition</b> is <b>True</b>. 
                            In this example the <b>condition</b> is the variable <b>price</b>. That means as long as 
                            <b>price</b> contains any information at all, it will be considered <b>True</b>, and the <b>loop</b> will run again. 
                        </p>
                    </div>
                </div>
          </div>
          <div class="carousel-item card bg-info highlight-code" id="card-4">
            <!-- fourth slide -->
            <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">4 / 6</h5>
                        <p class="card-text">
                            Inside our <b>loop</b> we have two lines of code. The first line converts the <b>input</b> from a <b>str</b> to a <b>float</b>, 
                            and adds it to the variable <b>total</b>. This means the value of <b>total</b> is increased by the amount of <b>price</b>. We use <b>float()</b> 
                            to convert the input to a <b>float</b>, which is a number <b>data type</b> for working with decimals. 
                        </p>
                    </div>
                </div>
            </div>
            <div class="carousel-item card bg-info highlight-code" id="card-5">
            <!-- fifth slide -->
            <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">5 / 6</h5>
                        <p class="card-text">
                            Then we ask the user for the next price.
                            Everytime through the <b>loop</b>, the variable <b>price</b> is checked. If it contains something, 
                            it runs the <b>loop</b> again. When the user stops entering prices and just presses enter, the 
                            variable <b>price</b> won't have anything in it, it is empty. Python treats an empty variable 
                            as <b>False</b> so the <b>loop</b> stops immediately. 
                        </p>
                    </div>
                </div>
            </div>
            <div class="carousel-item card bg-info highlight-code" id="card-6">
            <!-- sixth slide -->
            <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">6 / 6</h5>
                        <p class="card-text">
                            Then the code <em>after</em> the <b>loop</b> runs. 
                        </p>
                    </div>
                </div>
            </div>
            
        </div>
        <a class="btn btn-link" href="#carouselIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon">Prev</span>
        </a>
            
        <a class="btn btn-link" href="#carouselIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon">Next</span>
        </a>
    </div>


<!-- 
<p>
    The first line <b>declares</b> and <b>initializes</b> a variable called <b>total</b> to keep track of the total price. 


    The next line starts getting user <b>input</b>, which we're familiar with. We store the <b>input</b> into the variable <b>price</b>.


    On the next line we start our <b>while loop</b>. <b>Loops</b> repeat code. 
    The <b>while loop</b> runs the code inside, <em><b>while</b></em> the <b>condition</b> is <b>True</b>. 
    In this example the <b>condition</b> is the variable <b>price</b>. That means as long as 
    <b>price</b> contains any information at all, it will be considered <b>True</b>, and the <b>loop</b> will run again. 


    Inside our <b>loop</b> we have two lines of code. The first line converts the <b>input</b> from a <b>str</b> to a <b>float</b>, 
     and adds it to the variable <b>total</b>. This means the value of <b>total</b> is increased by the amount of <b>price</b>. We use <b>float()</b> 
     to convert the input to a <b>float</b>, which is a number <b>data type</b> for working with decimals. 


     Then we ask the user for the next price.
    Everytime through the <b>loop</b>, the variable <b>price</b> is checked. If it contains something, 
    it runs the <b>loop</b> again. When the user stops entering prices and just presses enter, the 
    variable <b>price</b> won't have anything in it, it is empty. Python treats an empty variable 
    as <b>False</b> so the <b>loop</b> stops immediately. 
    
    
    Then the code <em>after</em> the <b>loop</b> runs. 
</p> -->

<input type="hidden" id="lesson_number" value="39">
