<h1>Lesson 34</h1>
<h2>Not so sensitive now...</h2>

<p>Okay coder, we've seen how
     to take some text and transform it with <b>.upper()</b> or <b>.lower()</b>. Let's apply this to our 
     earlier example.
</p>
<div class="mt-3 mb-3 ml-5">
    <code>
        name = input("What is your name? ")<br>
        age = input("How old are you? ")<br>
        occupation = input("What is your job? ")<br>

        print(f"Your name is {name}, and you are {age}.")<br>
        if occupation.lower() == "programmer":<br>
            <span class="pl-4">print("Programmer? Awesome! Excellent choice!")</span><br>
        else:<br>
            <span class="pl-4">print(f"So you're a {occupation}. Interesting.")</span><br>
    </code>
</div>
<p>Now that we are using <b>.lower()</b> to make sure our user input is always consistent 
    in its casing, we can be sure that anyone who enters <b>"programmer"</b> will be greeted as a 
    programmer, whether they type it like this, <b>"programmer"</b> or like this,  
    <b>"Programmer"</b> or like this, <b>"PROGRAMMER"</b> or like this, <b>"prOGraMmEr"</b> or... well, you get the picture.</p>

<input type="hidden" id="lesson_number" value="34">