<h1>Lesson 4</h1>
<h2>Let's add it all up!</h2>

<p>Okay coder, we've seen Python add two numbers. 
    Cool. But Python can add more 
    than two numbers. Let's add a lot of numbers. In the editor, 
try adding together five or six numbers like this </p>
<div class="mt-3 mb-3 ml-5">
    <code class="hide-code">print(1 + 2 + 3 + 7 + 10 + 2992)</code>
</div>
<p>Let's add it all up! Click the green button and run your code!</p>
<p>Look in the console and you should see this </p> 
<div class="mt-3 mb-3 ml-5">
    <code class="hide-code">3015</code>
</div>
<p>Remember, don't use quotes <b>" "</b> when you do math in a <b>print()</b> statement.
    Don't forget you need to have your parentheses <b>( )</b>!
</p>

<input type="hidden" id="lesson_number" value="4">