<h1>Lesson 21</h1>
<h2>Double variable comparisons!</h2>

<p>Okay coder, we've seen how
    to check a variable against a number. Let's check a variable against a variable.
    It's not complicated. With what we know, I think you'll get the hang of it really quick.
    Set two variables, compare them with the test you need, and Voila! You've got it down!
</p>
<div class="mt-3 mb-3 ml-5">
    <code>
        speed_limit = 55<br>
        current_speed = 54<br>
        print(current_speed <= speed_limit)
    </code>
</div>
<p>We can easily get python to check our input and see if the car is speeding!
    Another scneario might be checking your bank account balance before you 
    purchase something with your debit card. Banks do this everytime you use a card.
</p> 
<div class="mt-3 mb-3 ml-5">
    <code>
        account_balance = 368.52<br>
        purchase_total = 54.00<br>
        print(account_balance > purchase_total)
    </code>
</div>

<input type="hidden" id="lesson_number" value="21">