<h1>Lesson 3</h1>
<h2>Math can be fun?</h2>

<p>Okay coder, Welcome to your third coding lesson!</p>
<p>Python can do all kinds of awesome things, even math!
Let's learn how to do some simple math.
In the editor, let's type our math problem in the <b>print</b> statement. 
This time, we won't use quotes <b>" "</b>.</p>
<div class="mt-3 mb-3 ml-5">
    <code id="copy-code">print(2+7)</code>
</div>
<p>Make sure you keep the parentheses <b>( )</b>, but don't use quotes <b>" "</b>! 
    Now click the green button above the editor to run your code!
    Look in the console and you should see</p> 
<div class="mt-3 mb-3 ml-5">
    <code id="copy-code">9</code>
</div>
<p>Easy, huh? Run it again and try two different numbers!</p>

<input type="hidden" id="lesson_number" value="3">