<h1>Lesson 19</h1>
<h2>The best of both worlds!</h2>

<p>Okay coder, we've seen how
    to check for less than and greater than, and we 
    also know how to check for equality. But we just 
    found out that something that is equal will fail the 
    less than or greater than test, and something that is less 
    than or greater than must certainly fail the equality test.
    If only we could combine these tests... Well we're in luck, because we can!
</p>
<div class="mt-3 mb-3 ml-5">
    <code id="copy-code">
        result = 5 <= 16<br>
        print(result)<br>
        result = 16 <= 16<br>
        print(result)<br>
        result = 923 >= 6<br>
        print(result)<br>
        result = 4 >= 4<br>
        print(result)
    </code>
</div>
<p></p>

<input type="hidden" id="lesson_number" value="19">