<h1>Lesson 16</h1>
<h2>Is IS Equals?</h2>

<p>Okay coder, we've seen how
    see if something <b>is</b> something, but we can also 
    check if something equals something. They aren't exactly the same thing... 
    But they are very similar. Let's learn about <b>is</b> and equals. 
    Equals is written in python as <b>==</b>. We use one equals sign <b>=</b> 
    to put information into a variable. We use two equal signs <b>==</b> 
    to check if two things are equal. 
</p>
<div class="mt-3 mb-3 ml-5">
    <code>
        result = 4 is 4<br>
        print(result)<br>
        result = 4 == 4<br>
        print(result)
    </code>
</div>
<p>You can also find out something is not or is not equal to something.</p> 
<div class="mt-3 mb-3 ml-5">
    <code>
        result = 'cat' is 4<br>
        print(result)<br>
        result = 92.123 == 8<br>
        print(result)<br>
    </code>
</div>
<p>Later on we will see some situations where <b>is</b> and <b>==</b> <em>aren't</em> the same thing...</p>

<input type="hidden" id="lesson_number" value="16">