<h1>Lesson 52</h1>
<h2>How long is that list?</h2>

<p>Okay coder, we've seen how
     to get items from <b>lists</b> either by 
     using a <b>for loop</b> or by accessing the <b>elements</b> by <b>index</b> directly. 
     How do we know how long a list is? This is important 
     because we can get <b>errors</b> if we try to access 
     an <b>element</b> at an <b>index</b> that is larger than the 
     length of the <b>list</b>. Remember <b>lists</b> start at <b>index</b> 0 so the 
     number of <b>elements</b> in a list <em>is NOT the same</em> as the <b>index</b> of the last element.
     Let's use <b>len()</b> to see how long a <b>list</b> is.
</p>
<div class="mt-3 mb-3 ml-5">
    <code class="hide-code">
        scores = [199022, 205600, 190406, 300350, 872954]<br>
        print(len(scores))
    </code>
</div>
<p>The <b>indexes</b> of the <b>elements</b> in this <b>list</b> are 0, 1, 2, 3, 4</p> 
<div class="mt-3 mb-3 ml-5">
    <code class="hide-code">
        scores = [199022, 205600, 190406, 300350, 872954]<br>
        print(len(scores))<br>
        print(scores[0])<br>
        print(scores[1])<br>
        print(scores[2])<br>
        print(scores[3])<br>
        print(scores[4])<br>
    </code>
</div>
<p>The last item is at <b>index</b> 4 and the length of the <b>list</b> is 5!</p>

<input type="hidden" id="lesson_number" value="52">
