<h1>Lesson 17</h1>
<h2>Which is more?</h2>

<p>Okay coder, we've seen how to check 
    if two things are the same or not with <b>is</b> and <b>==</b>.
    Now lets see if something is greater than another thing.
    Take 3 and 8 for example. Is 3 greater than 8? Python will say that is <b>False</b>.
    But, what if we switch them around, and ask if 8 is greater than 3?
    8 is indeed greater than 3, so python will say this is <b>True</b>. Let's use <b> > </b>
    to check if the number on the left is greater than the number on the right. Like this
</p>
<div class="mt-3 mb-3 ml-5">
    <code id="copy-code">
        result = 5 > 16<br>
        print(result)<br>
        result = 9 > 3<br>
        print(result)
    </code>
</div>
<p>The number on the left will be compared with the 
    number on the right. If the left side is greater 
    than the right, the answer will be <b>True</b>. Otherwise the answer will be <b>False</b>.</p> 


<input type="hidden" id="lesson_number" value="17">