<h1>Lesson 13</h1>
<h2>four = 14 + 93 ?!?!?!</h2>
<button class="btn btn-link" data-izimodal-open="#modal-iframe">Watch video lesson</button>

<p>Okay coder, we've got to try 
    something a little crazy here to prove a point. 
    Let's say we want to name our variable <b>four</b>.
    Technically, it is totally <em>legal</em> in python to 
    name a variable <b>four</b>. It might even <em>seem</em> like a good 
    idea if, for example, we need to save the answer to the question <b>2 + 2</b>. Like this
</p>
<div class="mt-3 mb-3 ml-5">
    <code>
        four = 2 + 2<br>
        print(four)
    </code>
</div>
<p>Seems good right? And even if we do this</p> 
<div class="mt-3 mb-3 ml-5">
    <code>
        four = 16 / 4<br>
        print(four)
    </code>
</div>
<p>But be careful, because this is just as <em>legal</em> but can get <em>very confusing very quickly</em>.</p>
<div class="mt-3 mb-3 ml-5">
        <code>
            four = 983 / 23.4<br>
            print(four)
        </code>
    </div>
<p>😬 YIKES! Now the name of our variable is not accurately 
    describing the information it holds. This is something 
    a good coder avoids at all costs! Better to name the variable <b>answer</b> or <b>result</b>.</p>



<div id="modal-iframe" aria-hidden="true" aria-labelledby="modal-iframe" role="dialog" class="iziModal" data-izimodal-group="grupo1" style="background: black; z-index: 999; border-radius: 3px; overflow: hidden; max-width: 600px; display: none; height: 445px;">
    <div class="iziModal-header iziModal-noSubtitle" style="background: rgb(0, 0, 0); padding-right: 70px;">
      <i class="iziModal-header-icon icon-settings_system_daydream"></i>
      <h2 class="iziModal-header-title">Video | Lesson 13</h2>
      <p class="iziModal-header-subtitle"></p>
      <div class="iziModal-header-buttons">
        <a href="javascript:void(0)" class="iziModal-button iziModal-button-close" data-izimodal-close=""></a>
        <!-- <a href="javascript:void(0)" class="iziModal-button iziModal-button-fullscreen" data-izimodal-fullscreen=""></a> -->
      </div>
    </div>
    <div class="iziModal-wrap" style="height: auto;">
      <div class="iziModal-content" style="padding: 0px;">
        <iframe class="iziModal-iframe" style="height: 400px;" src="https://player.vimeo.com/video/300908562" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
  </div>
  


<input type="hidden" id="lesson_number" value="13">
