<h1>Lesson 29</h1>
<h2>print() it again!</h2>

<p>Okay coder, we've seen how to
    <b>print()</b> by separating <b>arguments</b> with a comma, 
    but there are more ways to <b>print()</b> out our information.
    Another option is using <b>.format()</b>
</p>
<div class="mt-3 mb-3 ml-5">
    <code class="hide-code">
        result = 5 * 16<br>
        print("The answer is {}".format(result))<br>
        <br>
        name = "Sarah"<br>
        age = 23<br>
        print("{name} is {age} years old".format(name=name, age=age))<br>
    </code>
</div>
<p>You can pass a single <b>argument</b> to <b>.format()</b> or you can pass more than one! 
    You can see from the example above that if we only use one argument we use empty 
    curly braces <b>{}</b> in our string. If you want to pass more than one <b>arguments</b> 
    you can pass them as <b>keywords arguments</b>, like in the second example. 
    Make sure to name the arguments in the curly braces in your string! Be sure to run the code, and 
    look carefully at the examples to see the difference. 
    Try adding a new variable called <b>fancy_variable</b> and <b>print()</b> it out using <b>.format()</b>!</p>

<input type="hidden" id="lesson_number" value="29">