<h1>Lesson 90</h1>
<h2>Variables are awesome!</h2>

<p>Okay coder, we've seen how
     to do some math, but most of the time 
    we won't be doing math inside a <b>print()</b> statement. 
    How can we do math outside a <b>print()</b> statement 
    and still see the result? Well my friend, the magic is in <b>variables</b>!
    Python uses variables to store information. Try this 
</p>
<div class="mt-3 mb-3 ml-5">
    <code>
        result = 5 * 16<br>
        print(result)
    </code>
</div>
<p>Don't use quotes <b>" "</b>, just print out the variable 
    named <b>result</b>. Look in the console and you'll see the magic!</p> 
<div class="mt-3 mb-3 ml-5">
    <code>80</code>
</div>
<p>Variables are amazing and we'll learn a lot more about them soon. For now, try storing 
    <b>19 plus 17</b> and then <b>5 minus 17</b> in <b>result</b>. Make sure to <b>print(result)</b> to see your answers!</p>

<input type="hidden" id="lesson_number" value="90">
