<h1>Lesson 12</h1>
<h2>four = 2 + 2</h2>
<button class="btn btn-link" data-izimodal-open="#modal-iframe">Watch video lesson</button>

<p>Okay coder, we've seen how
    to do math in variables, but we need to have a talk 
    about something that might get confusing. How do we 
    decide what to name our variables? We have a lot of options. 
    We can use letters and numbers and even the underscore <b>_</b>&nbsp;!<br>
    We also need to avoid special words that python depends on. 
    They are called <b>keywords</b> and we will talk about them more later. 
    But let's talk about confusing names. For example, when we are 
    doing math we might want to name our variable <b>answer</b>
    or <b>result</b>... But when we are asking someone's name it 
    makes more sense to call our variable <b>name</b>, right?
</p>
<div class="mt-3 mb-3 ml-5">
    <code>
        answer = 5 + 416 / 7<br>
        print(answer)<br>
        name = "Thomas"<br>
        print(name)<br>
    </code>
</div>
<p>We can even use a single letter like <b>x</b>, or <b>i</b>. But it's usually 
    a really good idea to make sure the name of the variable <em>makes sense</em>. 
    We should avoid using confusing variable names, as we'll see in the next lesson.</p>



<div id="modal-iframe" aria-hidden="true" aria-labelledby="modal-iframe" role="dialog" class="iziModal" data-izimodal-group="grupo1" style="background: black; z-index: 999; border-radius: 3px; overflow: hidden; max-width: 600px; display: none; height: 445px;">
    <div class="iziModal-header iziModal-noSubtitle" style="background: rgb(0, 0, 0); padding-right: 70px;">
      <i class="iziModal-header-icon icon-settings_system_daydream"></i>
      <h2 class="iziModal-header-title">Video | Lesson 12</h2>
      <p class="iziModal-header-subtitle"></p>
      <div class="iziModal-header-buttons">
        <a href="javascript:void(0)" class="iziModal-button iziModal-button-close" data-izimodal-close=""></a>
        <!-- <a href="javascript:void(0)" class="iziModal-button iziModal-button-fullscreen" data-izimodal-fullscreen=""></a> -->
      </div>
    </div>
    <div class="iziModal-wrap" style="height: auto;">
      <div class="iziModal-content" style="padding: 0px;">
        <iframe class="iziModal-iframe" style="height: 400px;" src="https://player.vimeo.com/video/300906122" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
  </div>
  

<input type="hidden" id="lesson_number" value="12">
