<h1>Lesson 38</h1>
<h2>Add up HOW MANY numbers?!?!</h2>

<p>Okay coder, 
     maybe we need to write code for a cash register or an online 
     shopping application. We don't know how many items will be purchased. 
     We don't want to limit our user to a specific number of items, 
     and every user can purchase a different 
     number of items. We need a new tool! Let's learn about <b>loops</b>! There are 
     different kinds of <b>loops</b>, but we'll start with the <b>while loop</b>. 
     It's perfect for a cash register or shopping application. We will continue to ask for user <b>input</b>,
      <em><b>while</b></em> the user has something to enter. 
      <b>Loops</b> need a colon <b>:</b> and indentation, just like <b>if</b> statements!
      When we work with numbers that have decimals (like money), 
      we use a different <b>data type</b> than <b>int</b>. Think of using
       <b>int</b> for counting numbers: 1, 2, 3, 4... When you need decimals like 
       23.54 or 19.99, you use the <b>data type float</b>. It works just like <b>int</b>.
       Enter as many prices as you want, and press enter each time. When you are finished,
        press enter to run the rest of the code.
</p>
<div class="mt-3 mb-3 ml-5">
    <code>
        total = 0.0<br>
        price = input("Enter the price of the item: ")<br>
        while price:<br>
            &nbsp;&nbsp;total += float(price) <br>
            &nbsp;&nbsp;price = input("Enter the price of the next item: ") <br>
            <br>
        print(f"Your total is ${total}")
    </code>
</div>
<p>With our <b>while loop</b> we can add up as many items as the user wants to 
    enter: 0, 1, 24, 216 or even 3242 items! 😱 The loop will just keep adding the prices up! 💸 💸 💸 
    In the next lesson we will look at this code again to make sure we really understand how it works!
</p>

<input type="hidden" id="lesson_number" value="38">
