<h1>Lesson 22</h1>
<h2>Decisions, decisions...</h2>
<button class="btn btn-link" data-izimodal-open="#modal-iframe">Watch video lesson</button>

<p>Okay coder, we've got some awesome tools to work with. Now we need to learn 
    how to make a smart computer program. And by smart, I mean make decisions. That's right. 
    Your code can make decisions. Let's see how.
    The questions we have been asking python up until now are mostly <b>is</b> questions. 
    Is 5 greater than <b>result</b>? Is <b>current_speed</b> less than <b>speed_limit</b>?
    These kinds of quesitions are very important in coding and we are going to keep using them.
    But let's add the big <b>if</b> into the mix. In python we can ask <b>if</b> something is <b>True</b>.
    Check it out! Let's check back with our video game.
</p>
<div class="mt-3 mb-3 ml-5">
    <code>
        lives_left = 3<br>
        if lives_left > 0:<br>
            &nbsp;&nbsp;print("You have enough life. Keep playing!")</span>
    </code>
</div>
<p>You need to make sure you press the <b>tab</b> key (or 2 spaces) on the line after your <b>if</b> statement. 
    Python uses whitespace like tabs and spaces to figure out what you are trying to tell it to do.</p>
<p>There are some new things like the colon <b>:</b> at the end of the <b>if</b> statement line, and the whitespace
    on the line below the <b>if</b>. But all in all, it's really just a simple question. 
    And python is really happy to give us an answer!</p> 




<div id="modal-iframe" aria-hidden="true" aria-labelledby="modal-iframe" role="dialog" class="iziModal" data-izimodal-group="grupo1" style="background: black; z-index: 999; border-radius: 3px; overflow: hidden; max-width: 600px; display: none; height: 445px;">
    <div class="iziModal-header iziModal-noSubtitle" style="background: rgb(0, 0, 0); padding-right: 70px;">
      <i class="iziModal-header-icon icon-settings_system_daydream"></i>
      <h2 class="iziModal-header-title">Video | Lesson 22</h2>
      <p class="iziModal-header-subtitle"></p>
      <div class="iziModal-header-buttons">
        <a href="javascript:void(0)" class="iziModal-button iziModal-button-close" data-izimodal-close=""></a>
        <!-- <a href="javascript:void(0)" class="iziModal-button iziModal-button-fullscreen" data-izimodal-fullscreen=""></a> -->
      </div>
    </div>
    <div class="iziModal-wrap" style="height: auto;">
      <div class="iziModal-content" style="padding: 0px;">
        <iframe class="iziModal-iframe" style="height: 400px;" src="https://player.vimeo.com/video/301036625" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
  </div>
  



<input type="hidden" id="lesson_number" value="22">