<h1>Lesson 51</h1>
<h2>Accessing elements</h2>

<p>Okay coder, we've seen how
     to use a <b>for loop</b> to get each item in a <b>list</b>. What if we only want a specific item though?
     Well, in python we can use an <b>index</b> to get specific items out of a <b>list</b>. 
     All <b>lists</b> start at <b>index</b> 0, just like our <b>range()</b> did when we only gave it one number.
     We can use square brackets <b>[ ]</b> to access an <b>element</b> in a <b>list</b> by <b>index</b>.
     To get the first <b>element</b> from a <b>list</b>, it looks like this
</p>
<div class="mt-3 mb-3 ml-5">
    <code class="hide-code">
        my_list = [19, 22, 28.232001, 19992, 24, 14, 0, 3.1]<br>
        item = my_list[0]<br>
        print(item)
    </code>
</div>
<p>
    Grabbing the second item (at <b>index</b> 1) would look like this
</p>
<div class="mt-3 mb-3 ml-5">
        <code class="hide-code">
            names = ['Sara', 'Luke', 'Savannah', 'Kyle']<br>
            name = names[1]<br>
            print(name)
        </code>
    </div>
<input type="hidden" id="lesson_number" value="51">
