<h1>Lesson 27</h1>
<h2>Too many ifs?</h2>

<p>Okay coder, we've seen how
    to check conditions with <b>if</b> and <b>else</b>, and we can now make some really complex logic. 
    But there is another tool we can use. What about checking <b>if</b> something is <b>True</b>, 
    but then checking something else <em>only if the first condition is <b>False</b></em>? 
    Well let's learn how to use <b>elif</b>! 
</p>
<div class="mt-3 mb-3 ml-5">
    <code>
        score = 56<br>
        if score > 100:<br>
            <span class="pl-4">print("Wow! You scored more than 100 points!")</span><br>
        elif score > 50:<br>
            <span class="pl-4">print("Great job! You scored more than 50 points!")</span><br>
        else:<br>
            <span class="pl-4">print("Keep trying! You scored less than 50 points!")</span>
    </code>
</div>
<p>Try setting score to different numbers so that you get each result to print out. </p>
    <p><b>Tip:</b> You can add as many <b>elif</b> clauses as you want, but you can only have one <b>else</b> 
    for each <b>if</b>. <b>Else</b> is not required <em>however, <b>else</b> must always be after any <b>elif</b>s that you have.</em></p>

<input type="hidden" id="lesson_number" value="27">