<h1>Lesson 28</h1>
<h2>Let's get fancy with print()</h2>

<p>Okay coder, we've seen how
    to print out the results, but we can add a little more flexibility to our <b>print()</b> statements.
    Over the next few lessons we will learn a few different ways to <b>print()</b> to the console. 
</p>
<div class="mt-3 mb-3 ml-5">
    <code class="hide-code">
        result = 5 * 16<br>
        print("The result is", result)<br>
    </code>
</div>
<p><b>Arguments</b> are whatever we pass into a <b>function</b> like <b>print()</b>. 
    We use a comma to separate our <b>arguments</b>, in this case, our string and our variable.
    Python will <b>print()</b> out the <b>arguments</b> 
    (our string <b>"The result is"</b> and our variable <b>result</b>) separated with a space.</p>

<input type="hidden" id="lesson_number" value="28">