<h1>Lesson 49</h1>
<h2>Loops and lists</h2>

<p>Okay coder, we can use our <b>for loops</b> to <b>iterate</b> through a <b>list</b>.
    It's just as easy as looping through a <b>range()</b>.
</p>
<div class="mt-3 mb-3 ml-5">
    <code id="copy-code">
        names = ['Thomas', 'Rebekkah', 'Rachel', 'Aaron', 'Andre']<br>
        print(names)<br>
        print('--------')<br>
        for name in names:<br>
            &nbsp;&nbsp;print(name)</span>
    </code>
</div>
<p>You can see the difference between simply calling <b>print()</b> on the <b>list</b> and using a <b>for loop</b> to 
<b>iterate</b> through each of the names in the <b>list</b> and <b>print()</b> them out individually. If we need access to each individual 
<b>element</b> in a <b>list</b> it's best we use a <b>for loop</b>.</p>

<input type="hidden" id="lesson_number" value="49">
