<h1>Lesson 20</h1>
<h2>Comparing variables</h2>
<button class="btn btn-link" data-izimodal-open="#modal-iframe">Watch video lesson</button>

<p>Okay coder, we've seen how
    do a lot of comparison tests but we have only 
    stored the comparison result in a variable.
    We can do much cooler things. Check this out. 
    Say we are coding a video game. We might give the 
    player 3 lives before they have to restart a level.
    We can set a variable to keep track of how many lives they have left.
</p>
<div class="mt-3 mb-3 ml-5">
    <code>
        lives_left = 3<br>
        print(lives_left)<br>
        lives_left -= 1<br>
        print(lives_left > 0)<br>
        lives_left -= 1<br>
        print(lives_left > 0)<br>
        lives_left -= 1<br>
        print(lives_left > 0)

    </code>
</div>
<p>You can see that every time we take away a life, we 
    check to see if the player has enough lives left to continue playing. 
    As long as <b>lives_left</b> is greater than 0, we let the player continue.</p>




<div id="modal-iframe" aria-hidden="true" aria-labelledby="modal-iframe" role="dialog" class="iziModal" data-izimodal-group="grupo1" style="background: black; z-index: 999; border-radius: 3px; overflow: hidden; max-width: 600px; display: none; height: 445px;">
    <div class="iziModal-header iziModal-noSubtitle" style="background: rgb(0, 0, 0); padding-right: 70px;">
      <i class="iziModal-header-icon icon-settings_system_daydream"></i>
      <h2 class="iziModal-header-title">Video | Lesson 20</h2>
      <p class="iziModal-header-subtitle"></p>
      <div class="iziModal-header-buttons">
        <a href="javascript:void(0)" class="iziModal-button iziModal-button-close" data-izimodal-close=""></a>
        <!-- <a href="javascript:void(0)" class="iziModal-button iziModal-button-fullscreen" data-izimodal-fullscreen=""></a> -->
      </div>
    </div>
    <div class="iziModal-wrap" style="height: auto;">
      <div class="iziModal-content" style="padding: 0px;">
        <iframe class="iziModal-iframe" style="height: 400px;" src="https://player.vimeo.com/video/300922098" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
  </div>
  


<input type="hidden" id="lesson_number" value="20">