<h1>Lesson 23</h1>
<h2>If you insist...</h2>

<p>Okay coder, we've seen how
   <b>if</b> statements can help us make decisions in our code. The fun is just beginning.
   Let's check out another <b>if</b> statement.
</p>
<div class="mt-3 mb-3 ml-5">
    <code>
        enjoy_coding = True<br>
        learning = True<br>
        if learning:<br>
        <span class="pl-4">print("Keep it up! You're doing amazing!")</span><br>
        if enjoy_coding:<br>
        <span class="pl-4">print("Keep studying and you can be a python expert!")</span><br>
    </code>
</div>
<p>Don't forget you need to press <b>tab</b> on the line below the <b>if</b>!</p>
<p>In the above code, each variable is checked to see if it is <b>True</b>. 
    When the <b>if</b> statement finds a <b>True</b> value, it exectutes the 
    code inside of the <b>if</b> (the print on the next line). If you change 
    either of those variables to <b>False</b>, the <b>if</b> statement would skip the <b>print()</b> statement for that variable.</p>

<input type="hidden" id="lesson_number" value="23">