<h1>Lesson 62</h1>
<h2>'Evens Only' Challenge!</h2>

<p>Okay coder, time for a Challenge! 
    If you don't feel ready, go back and review the previous lessons until you're comfortable.
    There is solution code here that shows one possible way to solve the challenge. 
    Try to code your own solution before checking the answer. Look at 
    the previous lessons if you need to while you code your solution. Good Luck!
</p>
<p>
    <b>Remember, your answer may look different than our solution, there is always more than one way to solve a programming problem!</b>
</p>

<div class="row pt-2 pb-2">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Evens Only</h5>
                <p class="card-text">
                    Write a program that takes user input until the user is finished entering numbers. 
                    The user will type in an integer number (no decimals) and press enter. 
                    If the number they enter is even, add it to a list called 
                    <b>even_entries</b>. Do not add odd numbers to the list. When the user is finished, 
                    they will press enter twice and the program will show the resulting list.   
                </p>

                <button class="btn btn-outline-info" type="button" data-toggle="collapse" data-target="#code-toggle">
                    Show / Hide Solution
                </button>

                <div class="mt-3 mb-3 ml-5 collapse" id="code-toggle">
                    <div class="card card-body">
                        <code id="copy-code">
                            even_entries = []<br>
                            entry = input("Enter a number: (Press enter twice to quit) ")<br>
                            while entry:<br>
                                &nbsp;&nbsp;entry = int(entry)<br>
                                &nbsp;&nbsp;if entry % 2 == 0: <br>
                                &nbsp;&nbsp;&nbsp;&nbsp;even_entries.append(entry)<br>
                                &nbsp;&nbsp;entry = input("Enter a number: ")<br>
                            print("even_entries")<br>
                            print(even_entries)
                        </code>
                        
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

    <input type="hidden" id="lesson_number" value="62">
