<h1>Lesson 45</h1>
<h2>Fancy for loops</h2>

<p>Okay coder, let's look at how <b>for loops</b> work with <b>range()</b>. A <b>for loop</b> 
    completes one <b>iteration</b> of the <b>loop</b> <em>for each thing</em>. A <b>range()</b> gives us a sequence of numbers. 
    When we use a <b>for loop</b> with a <b>range()</b> we get <em>one <b>iteration</b> for each number in the range</em>.
    If we give <b>range()</b> one <b>argument</b>, it gives us a sequence from 0 up to (but not including) the number we give it. 
</p>
<div class="mt-3 mb-3 ml-5">
    <code id="copy-code">
        for i in range(10):<br>
            &nbsp;&nbsp;print(f"Once for i when i is {i}")</span>
    </code>
</div>

<p>
    If we give <b>range()</b> two <b>arguments</b> it gives us a sequence from the first number up to (but not including) the second number. 
</p>
<div class="mt-3 mb-3 ml-5">
    <code id="copy-code">
        for i in range(10, 20):<br>
            &nbsp;&nbsp;print(f"Once for i when i is {i}")</span>
    </code>
</div>

<p>
    If we give <b>range()</b> three <b>arguments</b> it gives us a sequence from the first number up to (but not including) the second number <em>in steps the size of the third number!</em>
</p> 
<div class="mt-3 mb-3 ml-5">
    <code id="copy-code">
        for i in range(30, 70, 5):<br>
            &nbsp;&nbsp;print(f"Once for i when i is {i}")</span>
    </code>
</div>

<input type="hidden" id="lesson_number" value="45">
