<h1>Lesson 65</h1>
<h2>Functions for the win!</h2>

<p>Okay coder, we've written a few <b>functions</b>, but we need more practice. Let's use functions to get numbers 
     from the user and multiply them all together. Let's write two functions, one to get the numbers, and one to 
     do the math. In order for our <b>functions</b> to share the result of their processing, we need them to <b>return</b> 
     the result. We use the <b>return keyword</b>. To accept a <b>return value</b> from a <b>function</b>, we 
     assign it to a variable, or <b>print()</b> it out. 
</p>
<div class="mt-3 mb-3 ml-5">
    <code>
        def get_input():<br>
        &nbsp;&nbsp;print("(Press enter twice to quit.) ")<br>
        &nbsp;&nbsp;return input("Enter your number: ")<br>
        <br>
        def multiply_all(num_list):<br>
        &nbsp;&nbsp;total = 1<br>
        &nbsp;&nbsp;for num in num_list:<br>
        &nbsp;&nbsp;&nbsp;&nbsp;total *= num<br>
        &nbsp;&nbsp;return total<br>
        <br>
        nums = []<br>
        n = get_input()<br>
        while n:<br>
        &nbsp;&nbsp;nums.append(int(n))<br>
        &nbsp;&nbsp;n = get_input()<br>
        <br>
        print(multiply_all(nums))


    </code>
</div>
<p>

</p>

<input type="hidden" id="lesson_number" value="65">
