<h1>Lesson 24</h1>
<h2>Let's see... What else?</h2>

<p>Okay coder, we've seen how
    to use an <b>if</b>... but what if that's not enough? What if we need 
    some code to run if the <b>if</b> statement evaluates to <b>True</b> and some different code to run 
    if the <b>if</b> statement is <b>False</b>?
    Well it might surprise you how simple it is.
    <b>if</b> matches up with <b>else</b> to make that happen!
</p>
<div class="mt-3 mb-3 ml-5">
    <code>
        account_balance = 1475.96<br>
        purchase_total = 299.00<br>

        if account_balance > purchase_total:<br>
        &nbsp;&nbsp;print("You have enough money. Purchase successful.") <br>
        else:<br>
        &nbsp;&nbsp;print("You don't have enough money. Purchase cancelled.") <br>
    </code>
</div>
<p>Don't forget to press <b>tab</b> after the <b>if</b> line and the <b>else</b> line. Also 
    pay attention to your colons <b>:</b> at the end of those two lines! Try runnning it with 
    different ammounts in the account balance and different purchase prices to really understand how the logic works.
    You can make some really complex decisons now that you have <b>if</b> and <b>else</b>.</p>

<input type="hidden" id="lesson_number" value="24">